.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 25%;
    height: auto;
}

.languagesContainer {
    height: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    /* padding: 0.25rem 0; */
}

.languages {
    width: 8rem;
    height: auto;
    cursor: pointer;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.langActive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto;
    pointer-events: none;
}

.langOptions:hover {
    background-color: rgba(61, 61, 61, 0.9);
}

.langActive img {
    width: 35%;
    height: auto;
    margin-right: 0.5rem;
}

.dropDown {
    position: absolute;
    right: 1.5rem;
}

.hover {
    background-color: rgba(61, 61, 61, 0.5);
}
