.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    height: 12vh;
    background: transparent;
    color: var(--light-font);
    text-transform: uppercase;
    z-index: 100;
    transition: all 0.2s ease;
}

.scroll {
    height: 10vh;
    background: rgba(0, 0, 0, 0.9);
}
