.button {
    margin-top: 2rem;
    height: 5rem;
    width: 14rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #a10000;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
