.imageFlexItem {
  display: grid;
  place-items: center;
}

.image {
  height: auto;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .imageFlexItem {
    display: none;
  }
}