.footer {
    background: rgb(0, 0, 0);
    text-transform: uppercase;
}

.footerContainer {
    min-width: 100%;
    height: 25vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--footer-color);
}

.footerItem {
    flex: 1 1 30%;
    background-color: #000;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerNav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    font-size: 1rem;
    margin: 0 1rem;
}

.footerSponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}
.sponsorLink {
    display: block;
    width: 50%;
    height: auto;
}
.sponsorImage {
    height: auto;
    width: 100%;
    margin-top: 0.3rem;
}

.copyright {
    width: 100%;
    margin: auto;
    text-align: center;
    color: var(--footer-color);
    font-weight: 400;
}
