.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-font);
    font-family: "Lato", sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 3s ease;
    z-index: -1;
}

.backgroundImage {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
    transition: all 3s ease;
}

.landing {
    align-self: flex-start;
    height: auto;
    width: auto;
}

.landingHeader {
    font-size: 6rem;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    /* text-transform: uppercase; */
}

.landingSubHeader {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.landingButton {
    height: 4.5rem;
    width: 14rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: #a10000;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.scrollDown {
    position: absolute;
    bottom: 0;
    width: 4rem;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    justify-self: flex-end;
    margin-top: auto;
    cursor: pointer;
}

/* Media queries */

@media only screen and (max-width: 480px) {
    .landing {
        align-self: center;
        text-align: center;
    }
    .landingHeader {
        font-size: 7rem;
    }
    .landingSubHeader {
        font-size: 2.5rem;
    }
    
    .landingButton {
        width: 20rem;
    }
}
