.landingContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    min-width: 100%;
    margin: auto;
    padding: 2% 10%;
    color: var(--light-font);
    font-family: "Lato", sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 3s ease;
    z-index: -1;
}

.backgroundImage {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
    transition: all 3s ease;
}

.landing {
    align-self: flex-start;
    height: auto;
    width: auto;
}

.landingHeader {
    font-size: var(--landing-header);
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

.landingSubHeader {
    font-size: var(--landing-subheader);
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.landingButton {
    height: var(--button-height);
    width: var(--button-width);
    font-size: var(--text-size);
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: var(--main-red);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.landingButton:hover {
    background-color: var(--light-red);
    transition: background-color 0.2s ease;
}

.scrollDown {
    position: absolute;
    bottom: 0;
    width: 4rem;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    justify-self: flex-end;
    margin-top: auto;
    cursor: pointer;
}

/* Media queries */

@media only screen and (max-width: 480px) {
    .landing {
        align-self: center;
        text-align: center;
    }
    .landingHeader {
        font-size: 7rem;
    }
    .landingSubHeader {
        font-size: 2.5rem;
    }

    .landingButton {
        width: 20rem;
    }
}
