.tour {
    background-color: #000;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
}

.tourHeader {
    display: grid;
    place-items: center;
    flex: 1 1 20%;
    width: 100%;
}

.tourHeader h2 {
    margin: 0;
}

.tourCards {
    flex: 1 1 70%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    transform: translateX(75vw);
    transition: all 0.5s ease;
}

.card {
    height: 100%;
    width: 30vw;
    background-color: transparent;
    color: #000;
    transform: scale(0.7);
    transition: all 0.5s ease;
    perspective: 1000px;
}

.cardFlipped {
    transform: rotateY(180deg);
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #fff;
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 4px;
}

.cardBack {
    transform: rotateY(180deg);
}

.cardActive {
    transform: scale(1);
    transition: all 0.5s ease;
}

.tourArrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 10%;
    width: 100%;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrowContainer:hover {
    color: #c30000;
    transition: color 0.3s ease;
}

.arrowContainer:hover .arrowLeft {
    transform: translateX(-5px);
    transition: transform 0.3s ease;
}
.arrowContainer:hover .arrowRight {
    transform: translateX(5px);
    transition: transform 0.3s ease;
}

.arrowLeft,
.arrowRight {
    transition: transform 0.3s ease;
}

.arrowContainer p:first-of-type {
    font-size: 1.75rem;
    margin-left: 2rem;
    user-select: none;
}

.arrowContainer p:last-of-type {
    font-size: 1.75rem;
    margin-right: 2rem;
    user-select: none;
}

.dateDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex: 1 1 10%;
}

.dateDetails > h3:first-of-type {
    font-size: 5rem;
    margin-right: 0.5rem;
}

.dateDetails h3 {
    line-height: 1;
    font-size: 2rem;
}

.dateDetails h3:nth-last-of-type(2) {
    color: #a10000;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 20%;
    width: 100%;
    padding-top: 2rem;
}

.location h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

.location h4:first-of-type {
    font-weight: 400;
    text-transform: capitalize;
}

.flex-location {
    height: 100%;
    width: auto;
}

.flag {
    height: 100%;
    width: auto;
}

.flag img {
    height: 6rem;
    width: auto;
}

.tourDescription {
    flex: 1 1 50%;
    height: 100%;
    width: 100%;
}

.tourButton {
    flex: 1 1 10%;
    width: 100%;
}

/* Media queries */

@media only screen and (max-width: 1025px) {
    .tourCards {
        flex: 1 1 50%;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 50vw;
    }
}

@media only screen and (max-width: 480px) {
    .tourHeader h2 {
        text-align: center;
    }
    .card {
        width: 90vw;
        margin: auto;
    }
}
