.tour {
    background-color: #000;
    color: #fff;
    flex-direction: column;
    overflow-x: hidden;
}

.tourHeader {
    display: grid;
    place-items: center;
    flex: 1 1 20%;
    width: 100%;
}

.tourHeader .header {
    margin: 0;
}

.tourCards {
    flex: 1 1 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    height: 100%;
    width: 33%;
    background-color: #fff;
    border-radius: 4px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #000;
}

.card:first-of-type,
.card:last-of-type {
    transform: scale(0.7);
}

.tourArrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 10%;
    width: 100%;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.arrowContainer p:first-of-type {
    font-size: 1.75rem;
    margin-left: 2rem;
}

.arrowContainer p:last-of-type {
    font-size: 1.75rem;
    margin-right: 2rem;
}

.dateDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex: 1 1 10%;
}

.dateDetails > h3:first-of-type {
    font-size: 5rem;
    margin-right: 0.5rem;
}

.dateDetails h3 {
    line-height: 1;
    font-size: 2rem;
}

.dateDetails h3:nth-last-of-type(2) {
    color: #a10000;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 20%;
    width: 100%;
    padding-top: 2rem;
}

.location h4 {
    font-size: 2rem;
}

.location h4:first-of-type {
    font-weight: 400;
}

.flex-location {
    height: 100%;
    width: auto;
}

.flag {
    height: 100%;
    width: auto;
}

.flag img {
    height: 6rem;
    width: auto;
}

.tourDescription {
    flex: 1 1 60%;
    width: 100%;
}

.tourButton {
    flex: 1 1 10%;
    width: 100%;
}

/* Media queries */

@media only screen and (max-width: 1025px) {
    .tourCards {
        width: 150%;
        flex: 1 1 50%;
    }
}

@media only screen and (max-width: 480px) {
    .tourCards {
        width: 100%;        
    }
    .tourHeader h2 {
        text-align: center;
    }
    .card {
        width: 90%;
        margin: auto;
    }
    .card:first-of-type,
    .card:last-of-type {
        display: none;
    }
}
