@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Patua+One&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    --main-red: rgb(187, 0, 0);
    --light-font: rgb(238, 238, 238);
    --background-color: rgb(221, 221, 221);
    --footer-color: rgba(204, 204, 204, 0.9);
    --section-heading: 3rem;
    --section-subheading: 1.3rem;
    --section-paragraph: 1rem;
}

body {
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: var(--background-color);
    /* overflow-x: hidden; */
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: auto;
    height: auto;
    line-height: 2;
    font-size: 0.9rem;
    letter-spacing: 2;
    font-weight: 400;
}

.container {
    min-height: 100vh;
    min-width: 100%;
    margin: auto;
    padding: 2% 10%;
}

.section {
    min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

main section:nth-of-type(4) {
    height: 120vh;
}

.flexItem {
    height: 100%;
    flex: 1 1 50%;
    padding: 5%;
}

.header {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    line-height: 0.8;
}

.subHeader {
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #3c3c3c;
}

.text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.button {
    margin-top: 2rem;
    height: 4.5rem;
    width: 14rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #a10000;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 12px 0 rgba(255, 255, 255, 0);
    transition: all ease 0.1s;
}

.button:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 12px 0 rgba(255, 255, 255, 0);
    transform: scale(0.98);
    background-color: #c30000;
    transition: all ease 0.1s;
}

/* Media querires */

@media only screen and (max-width: 1300px) {
    :root {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1025px) {
    .section {
        min-height: 80vh;
        padding: 2.5%;
    }
    main section:nth-of-type(4) {
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    main section:nth-of-type(2) {
        min-height: 50vh;
    }
    main section:nth-of-type(5) {
        justify-content: space-around;
        height: 80vh;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        flex-direction: column;
        min-height: 80vh;
    }
    .flexItem {
        width: 100%;
    }
    main section:last-of-type {
        flex-direction: column-reverse;
    }

    main section:nth-of-type(5) {
        min-height: 40vh;
        height: 60vh;
    }
}
